body{
    font-family: "Poppins", serif;
    margin: 0;
    background-color: #bea69e ;
  }
  p, img{
    width: 100%;
    height: 100%;
  }
  .mobilnav{
        display:none;
}
  .sidebar {
    transform: translateY(350px);
    -webkit-transform: translateY(350px);
    -moz-transform: translateY(350px);
    -ms-transform: translateY(350px);
    -o-transform: translateY(350px);
}
  
h2{
    text-align: center;
    font-weight: 300;
}
h1{
    font-weight: 300;
}
.navbar {
  margin-left:32px;  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links{
  margin-left: 15%;
  box-sizing: border-box;
  padding: 10px;
}
.links ul {
  display: flex;
  justify-content: space-between;
}
li {
  margin-left: 10px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover{
    font-weight: 500;
}
.card {
  width: 49%;
  box-sizing: border-box;
  padding: 16px;
}
.card img {
  height: 500px;
  width: 100%;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.card:hover {
    opacity: 0.9;
    width: 50%;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.links li:nth-child(1){
    border-bottom:1px solid black;
    
}
.why {
    width: 50%;
    margin: 100px 200px;
  }
  
  .banner {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}
  
  
  .message {
        color: red;
    font-size: 28px;
    font-style: italic;
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

  
  .contact p {
    margin-left: 0;
    font-weight: 600;
    font-size: small;
  }
  .hamburgerFixed{
    margin-top: -177px;
  }
  /* animation */
  .animationBar1 {
    animation: 1s fadeBar1;
    animation-fill-mode: forwards;
  }
  
  .animationBar2 {
    animation: 1s fadeBar2;
    animation-fill-mode: forwards;
  }
  
  .animationBar3 {
    animation: 1s fadeBar3;
    animation-fill-mode: forwards;
    margin-top: 20px;
  }
 
 @keyframes sidebarb{
  from{right: -100px;}to{right: 0px;}
 }
  
  @keyframes fadeBar1 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(45deg) translate(5px, 6px);
      -webkit-transform: rotate(45deg) translate(5px, 6px);
      -moz-transform: rotate(45deg) translate(5px, 6px);
      -ms-transform: rotate(45deg) translate(5px, 6px);
      -o-transform: rotate(45deg) translate(5px, 6px);
}
  }
  
  @keyframes fadeBar2 {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
  
  @keyframes fadeBar3 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-45deg) translate(5px, -6px);
      -webkit-transform: rotate(-45deg) translate(5px, -6px);
      -moz-transform: rotate(-45deg) translate(5px, -6px);
      -ms-transform: rotate(-45deg) translate(5px, -6px);
      -o-transform: rotate(-45deg) translate(5px, -6px);
}
  }
  /* mini Desktop */
  @media screen and (max-width: 1024px) {
    .card img{
      height: 350px;
    }
    body{
      width: 100%;
    }
    
  }
  /* Tablet */
  @media screen and (max-width: 768px) {
    header,section,p{
      width: 95%;
      background-color: #9e9490;
    }
    .mobilnav{
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content:flex-end;
      background-color: #bea69e;
      width: 218px;
      padding: 20px;
      height: 20vh;
      z-index: 1;
      top: -350px;
      right: 0;
      align-items: center;
      padding-top: 10%;
      gap: 20px;
      transition:transform 1s ;
      -webkit-transition:transform 1s ;
      -moz-transition:transform 1s ;
      -ms-transition:transform 1s ;
      -o-transition:transform 1s ;
     
}
    .links{
      display: none;
    }
    .hamburger{
      margin-right: 20px;
      z-index: 2;
      margin-top: -34px;
      }
    .card:hover{
      opacity: 1;
      width: 49%;
      transform: scale(1.08);
      -webkit-transform: scale(1.08);
      -moz-transform: scale(1.08);
      -ms-transform: scale(1.08);
      -o-transform: scale(1.08);
}
  .why{
    display: inline-block;
    width: 98%;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px ;
  }
  .bar1, .bar2, .bar3{
    width: 45px;
    height: 5px;
    border-radius: 15px;
    background-color: #000;
    margin: 3px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
 }
.navbar{
  margin: 0;
  justify-content: space-around;
}

}
/* mobile */
@media screen and (max-width: 480px) {
  .card:hover{
    opacity: 1;
    width: 100%;
    transform: translateY(0px) scale(1.08);
    -webkit-transform: translateY(0px) scale(1.08);
    -moz-transform: translateY(0px) scale(1.08);
    -ms-transform: translateY(0px) scale(1.08);
    -o-transform: translateY(0px) scale(1.08);
}
h1{
  max-width: 300px;
}
.card{
  width: 100%;
}
 .hamburger{
  margin-right: 20px;
        z-index: 2;
        margin-top: -97px;
 }
 .mobilnav{
  width:150px ;
  border-end-start-radius: 16px;
}
}
